<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/table.css" th:href="@{/css/table.css}">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<!-- wrap : s -->
<div id="wrap">
    <form action="/form/items/add" th:action th:object="${item}" method="post" enctype="multipart/form-data">
        <table class="tg">
            <colgroup>
                <col width="10%">
                <col width="40%">
                <col width="10%">
                <col width="40%">
            </colgroup>
            <thead>
            <tr>
                <th class="mainTitle mainTitleForm" colspan="4">
                    <h2>문화생활 등록</h2>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mainTitle" colspan="4">
                    <h2>기본정보</h2>
                </td>
            </tr>
            <tr>
                <td class="subTitle">문화생활 유형 <em class="asterisk">*</em></td>
                <td>
                    <span th:each="type, typeStat : ${exhibitionTypes}">
                        <input type="radio" th:field="*{exhibitionType}" th:value="${type.name()}">
                        <label th:for="${#ids.prev('exhibitionType')}" th:text="${type.description}">
                            전시
                        </label>&nbsp;&nbsp;
                    </span>
                </td>
                <td class="subTitle">FO 전시여부 <em class="asterisk">*</em></td>
                <td>
                    <span th:each="type, typeStat : ${exposureTypes}">
                        <input type="radio" th:field="*{exposureType}" th:value="${type.name()}">
                        <label th:for="${#ids.prev('exposureType')}" th:text="${type.description}">
                            전시
                        </label>&nbsp;&nbsp;
                    </span>
                </td>
            </tr>
            <tr>
                <td class="subTitle">진행기간 <em class="asterisk">*</em></td>
                <td colspan="3">
                    <div>
                        <label for="startDate">시작일</label>
                        <input type="date" id="startDate" th:field="*{startDate}"> ~
                        <label for="endDate">종료일</label>
                        <input type="date" id="endDate" th:field="*{endDate}">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="subTitle">메인타이틀 <em class="asterisk">*</em></td>
                <td colspan="3">
                    <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" style="width:400px;">
                </td>
            </tr>
            <tr>
                <td class="subTitle">장소명 <em class="asterisk">*</em></td>
                <td colspan="3">
                    <input type="text" id="placeName" th:field="*{placeName}" placeholder="장소를 입력하세요" style="width:400px;">
                </td>
            </tr>
            <tr>
                <td class="subTitle">장소 위도</td>
                <td>
                    <input type="text" id="latitude" th:field="*{latitude}" placeholder="위도를 입력하세요">
                </td>
                <td class="subTitle">장소 경도</td>
                <td>
                    <input type="text" id="longitude" th:field="*{longitude}" placeholder="경도를 입력하세요">
                </td>
            </tr>
            <tr>
                <td class="subTitle">입장료 <em class="asterisk">*</em></td>
                <td colspan="3">
                    <span th:each="type : ${feeTypes}">
                        <input type="radio" th:field="*{feeType}" th:value="${type.name()}">
                        <label th:for="${#ids.prev('feeType')}" th:text="${type.description}">
                            무료
                        </label>&nbsp;&nbsp;
                    </span>
                </td>
            </tr>
            <tr>
                <td class="subTitle">유료 입장료 가격</td>
                <td>
                    <input type="text" id="price" th:field="*{price}" placeholder="요금을 입력하세요">
                </td>
                <td class="subTitle">티켓구매 URL</td>
                <td>
                    <input type="text" id="ticketUrl" th:field="*{ticketUrl}" placeholder="티켓 구매 url 입력하세요" style="width:400px;">
                </td>
            </tr>
            <tr>
                <td class="subTitle">지역구분 <em class="asterisk">*</em></td>
                <td colspan="3">
                    <span th:each="type : ${regionTypes}">
                        <input type="radio" th:field="*{regionType}" th:value="${type.name()}">
                        <label th:for="${#ids.prev('regionType')}" th:text="${type.description}">
                            Seoul
                        </label>&nbsp;&nbsp;
                    </span>
                </td>
            </tr>
            <tr>
                <td class="subTitle">홈페이지링크</td>
                <td colspan="3">
                    <input type="text" id="homepageUrl" th:field="*{homepageUrl}" placeholder="링크를 입력하세요" style="width:400px;">
                </td>
            </tr>
            <tr>
                <td class="subTitle">시간</td>
                <td colspan="3">
                    <textarea id="time" th:field="*{operatingTime}" placeholder="시간를 입력하세요" style="width:400px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="subTitle">
                    리스트 이미지 <em class="asterisk">*</em>
                    <small>
                        (750*500)<br/>
                        최대 60KB
                    </small>
                </td>
                <td colspan="3">
                    <input type="hidden" id="listImageUrl" th:field="*{listImageUrl}">
                    <input type="file" id="inputListImage" @change="listImageS3Upload">
                    <div id="listPreview"></div>
                    <button type="button" @click="listImageDelete">삭제</button>
                </td>
            </tr>
            <tr>
                <td class="subTitle">
                    상세 이미지 <em class="asterisk">*</em>
                    <small>
                        (750*1000)<br/>
                        최대 60MB
                    </small>
                </td>
                <td colspan="3">
                    <input type="hidden" id="thumbnailImageUrl" th:field="*{thumbnailImageUrl}">
                    <input type="file" id="inputThumbnailImage" @change="thumbnailImageS3Upload">
                    <div id="thumbnailPreview"></div>
                    <button type="button" @click="thumbnailImageDelete">삭제</button>
                </td>
            </tr>
            <tr>
                <td class="mainTitle" colspan="4"><h2>소개</h2></td>
            </tr>
            <tr>
                <td>소개</td>
                <td colspan="3">
                    <textarea cols="50" rows="7" id="introduce" th:field="*{introduce}" placeholder="소개글"></textarea>
                </td>
            </tr>
            <tr>
                <td>소개이미지</td>
                <td colspan="3">
                    <div id="btnDiv">
                        <div data-name="fileDiv">
                            <input type="hidden" id="detailImageUrls[0]" th:field="*{detailImageUrls[0]}">
                            <input type="file" id="inputDetailImage[0]" data-index="0" @change="detailImageS3Upload">
                            <button type="button" @click="addFile"> 추가</button>
                            <button type="button" onclick="removeFile(this)"> 삭제</button>
                            <div id="detailPreview[0]"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mainTitle centerDiv1" colspan="4">
                    <div class="centerDiv2"><button type="submit" class="button">저장</button></div>
                    <div class="centerDiv2"><button type="button" onclick="location.href='items.html'"
                                 th:onclick="|location.href='@{/form/items}'|" class="button">취소</button></div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script th:inline="javascript">
    function removeFile(elem) {
        const prevTag = $(elem).prev().prop('tagName');
        if (prevTag === 'BUTTON') {
            const file = $(elem).prevAll('input[type="file"]');
            file.val('');
            const preview = $('#detailPreview\\[0\\]');
            preview.empty();
            return false;
        }
        const target = $(elem).parents('div[data-name="fileDiv"]');
        target.remove();
    }
</script>

<script src="../../static/js/image.js" th:src="@{/js/image.js}"></script>

</body>
</html>