<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../../static/css/lists.css" th:href="@{/css/lists.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<div>
    <h2>문화생활 관리</h2>

    <br>

    <form action="/form/items/add" method="get">
        <button type="submit" class="button">등록</button>
    </form>

    <br>

    <div class="list1">
        문화생활 목록&nbsp;
        <span class="list2">(총&nbsp;</span>
        <span class="list3" id="result"></span>
        <span class="list2">건) </span>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
           $('#result').text($('#itemList >tbody tr').length);
        });
    </script>

    <div>
        <table class="listBoard1" id="itemList">
            <colgroup>
                <col width="3%">
                <col width="10%">
                <col width="7%">
                <col width="*">
                <col width="10%">
                <col width="10%">
                <col width="7%">
                <col width="7%">
                <col width="10%">
                <col width="7%">
                <col width="10%">
            </colgroup>
            <thead class="listBoard2">
            <tr>
                <th>컨텐츠ID</th>
                <th>리스트이미지</th>
                <th>문화생활유형</th>
                <th>메인타이틀</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>입장료</th>
                <th>등록자</th>
                <th>등록일시</th>
                <th>최종수정자</th>
                <th>최종수정일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, itemStat: ${items}">
                <td th:text="${item.id}"></td>
                <td><img src="" th:src="${item.listImageUrl}" width=100 height=100 alt="이미지 없음"></td>
                <td th:text="${item.getExhibitionType().getDescription()}"></td>
                <td><a th:href="@{/form/items/edit/{id} (id=${item.id})}" th:text="${item.title}"></a></td>
                <td th:text="${item.getStartDate()}"></td>
                <td th:text="${item.getEndDate()}"></td>
                <td th:text="${item.feeType.description}"></td>
                <td th:text="${item.getRegAccount()}"></td>
                <td th:text="${item.getCreatedAt()}"></td>
                <td th:text="${item.getUdtAccount()}"></td>
                <td th:text="${item.getUpdatedAt()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>