<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../../static/css/lists.css" th:href="@{/css/lists.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<div>
    <h2>문화생활 관리</h2>

    <br>

    <form action="/form/items/add" method="get">
        <button type="submit" class="button">등록</button>
    </form>

    <br>

    <div class="list1">
        문화생활 목록&nbsp;
        <span class="list2">(총&nbsp;</span>
        <span class="list3" id="result"></span>
        <span class="list2">건) </span>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
           $('#result').text($('#itemList >tbody tr').length);
        });
    </script>

    <div>
        <table class="listBoard1" id="itemList">
            <thead class="listBoard2">
            <tr>
                <th>순번</th>
                <th>컨텐츠ID</th>
                <th>FO 전시여부 : 미전시 / 전시</th>
                <th>리스트이미지</th>
                <th>썸네일이미지</th>
                <th>메인타이틀</th>
                <th>입장료</th>
                <th>요금</th>
                <th>url</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, itemStat: ${items}">
                <td th:text="${itemStat.index} + 1"></td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.exposureType.description}"></td>
                <td><img src="" th:src="${item.listImageUrl}" width=100 height=100 alt="이미지 없음"></td>
                <td><img src="" th:src="${item.thumbnailImageUrl}" width=100 height=100 alt="이미지 없음"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.fee.description}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.getHomepageUrl}"></td>
                <td>
                    <form action="" th:action="@{/form/items/{id}/edit (id=${item.id})}" method="get">
                        <button class="button2" type="submit">수정</button>
                    </form>
                </td>
                <td>
                    <form action="" th:action="@{/form/items/{id}/delete (id=${item.id})}" method="post">
                        <button class="button2" type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>