<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<form action="" th:action th:object="${item}" method="post" enctype="multipart/form-data">
    <div>
        <div>문화생활 유형</div>
        <div th:each="type : ${exhibitionTypes}">
            <input type="radio" th:field="*{exhibitionType}" th:value="${type.name()}">
            <label th:for="${#ids.prev('exhibitionType')}" th:text="${type.description}">

            </label>
        </div>
    </div>

    <div>
        <div>진행 여부</div>
        <div th:each="type : ${exposureTypes}">
            <input type="radio" th:field="*{exposureType}" th:value="${type.name()}">
            <label th:for="${#ids.prev('exposureType')}" th:text="${type.description}">

            </label>
        </div>
    </div>

    <br>

    <div>
        <label for="image">대표 이미지</label>
        <input type="file" id="image" th:field="*{image}">
        <div id="preview">
            <img id="existing" width="100px" height="100px" th:src="*{image}" alt="이미지 없음">
        </div>
        <a href="#" class="btn-delete">삭제</a>
    </div>

    <script th:inline="javascript">

        var editId = [[${item.id}]];

        function readInputFile(input) {
            console.log(input.files);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#existing').remove();
                    $('#preview').html("<img style=\"width: 100px; height: 100px;\" src=" + e.target.result + ">");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $.ajax("/form/items/" + editId + "/edit")
        .done(function () {
            $("#image").on('change', function () {
                readInputFile(this);
            });
        })


        // 등록 이미지 삭제 ( input file reset )
        function resetInputFile($input, $preview) {
            var agent = navigator.userAgent.toLowerCase();
            if ((navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1)) {
                // ie 일때
                $input.replaceWith($input.clone(true));
                $preview.empty();
            } else {
                //other
                $input.val("");
                $preview.empty();
            }
        }

        $(".btn-delete").click(function (event) {
            var $input = $("#image");
            var $preview = $('#preview');
            resetInputFile($input, $preview);
        });
    </script>

    <div>
        <label for="title">메인 타이틀</label>
        <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요">
    </div>

    <div>
        <label for="startDate">시작일</label>
        <input type="date" id="startDate" th:field="*{startDate}">
    </div>
    <div>
        <label for="endDate">종료일</label>
        <input type="date" id="endDate" th:field="*{endDate}">
    </div>

    <div>
        <label for="place">장소</label>
        <input type="text" id="place" th:field="*{place}" placeholder="장소를 입력하세요">
    </div>

    <div>
        <label for="latitude">위도</label>
        <input type="text" id="latitude" th:field="*{latitude}" placeholder="위도를 입력하세요">
    </div>

    <div>
        <label for="longitude">경도</label>
        <input type="text" id="longitude" th:field="*{longitude}" placeholder="경도를 입력하세요">
    </div>

    <div>
        <div>지역 구분</div>
        <div th:each="type : ${regionTypes}">
            <input type="radio" th:field="*{regionType}" th:value="${type.name()}">
            <label th:for="${#ids.prev('regionType')}" th:text="${type.description}">
                Seoul
            </label>
        </div>
    </div>

    <br>

    <div>
        <div>입장료</div>
        <div th:each="type : ${feeTypes}">
            <input type="radio" th:field="*{fee}" th:value="${type.name()}">
            <label th:for="${#ids.prev('fee')}" th:text="${type.description}">
                BOOK
            </label>
        </div>
    </div>

    <div>
        <label for="price">요금</label>
        <input type="text" id="price" th:field="*{price}" placeholder="요금을 입력하세요">
    </div>

    <div>
        <label for="url">url</label>
        <input type="text" id="url" th:field="*{url}" placeholder="링크를 입력하세요">
    </div>

    <div>
        <label for="time">time</label>
        <input type="text" id="time" th:field="*{time}" placeholder="시간를 입력하세요">
    </div>

    <div>
        <label for="ticketUrl">티켓구매URL</label>
        <input type="text" id="ticketUrl" th:field="*{ticketUrl}" placeholder="티켓 구매 url 입력하세요">
    </div>

    <div>
        <label for="introduce">소개글</label>
        <input type="text" id="introduce" th:field="*{introduce}" placeholder="소개글">
    </div>

    <div>
        <button type="submit">수정</button>
    </div>

</form>

</body>
</html>