table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid;
}

td::-webkit-scrollbar {
    display: none;
}

td {
    text-align: center;
    height: 50px;
    width: 5%;
    overflow: scroll;
    padding: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

th, td {
    font-size: 0.9rem;
}

#delete_item_button {
    height: 30px;
    width: 50px;
}

#page_button {
    width: 100%;
    display: flex;
    justify-content: end;
}

#page_button__previous-page {
    margin-right: 5px;
}

.performance_data::-webkit-scrollbar, td::-webkit-scrollbar {
    display: none;
}

.performance_data {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

#detail_image_data {
    margin-top: 15px;
    padding-top: 40px;
}

#operating_time {
    padding-top: 100px;
}
